$color-black: #040E27;
$font-nastaliq: IranNastaliq;

@font-face {
    font-family: IranNastaliq;
    src: url("/fonts/IranNastaliq.eot")format("eot"),
        url("/fonts/IranNastaliq.ttf")format("ttf"),
        url("/fonts/IranNastaliq.woff") format("woff");
    font-weight: 500;
}















.footer {
    background-color: $color-black;
    font-size: 20px;

    &-footer {
        margin-top: 20px;
    }

    .list-link {
        color: rgb(189, 188, 186);
        text-decoration: none;
        margin-top: 20px;
        font-size: .8em;
    }

    .name {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        font-weight: 300;
    }
}